.flex {
  display: flex;
}

.horizontal {
  flex-direction: row;
}

.flex-1 {
  flex: 1;
}

.text-center {
  text-align: center;
}

.btn-cta {
  color: #fefefe;
  background-color: #ff1100;
  font-size: 1rem;
  border-radius: 10px;
  border: 0;
  padding: 10px 15px;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.img-main {
  width: 90%;
  max-width: 300px;
}

.produto-detalhes-box {
  padding: 10px;
  margin: 10px;
}

.main-form {
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 70%;

.form {

  label {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    font-size: 16px;
  }

  input {
    margin-left: 10px;
  }
}}
