<div class="produto-detalhes-box">
  <div class="flex horizontal ">


    <div class="flex-1" *ngFor="let product of currentProduct">
      <div class="flex flex-center">
        <img src="/assets{{ product.img }}" class="img-main" />
      </div>
      <br />
      <h2 class="text-center">{{ product.titulo }}</h2>
      <p class="text-center">SKU: {{ product.id }}</p>
      <p class="text-center">{{ product.descricao }}</p>
      <h3 class="text-center">{{ product.preco| currency }}</h3>
      <br />
      <!-- <form action="/product-detail/{{ product.id }}" class="flex flex-center">
        <input type="submit" class="btn-cta" value="BUY">
      </form> -->
    </div>

  </div>
</div>

<div class="main-form">
  <div class="form div-form-shipping">

    <label for="address_line_1">First name
      <input type="text" [(ngModel)]="dataName.surname">
    </label>
    <label for="address_line_1"> Last name
      <input type="text" [(ngModel)]="dataName.given_name">
    </label>
    <label for="address_line_1">Email
      <input type="text" [(ngModel)]="dataPayer.email_address">
    </label>
    <label for="address_line_1">Phone number
      <input type="text" [(ngModel)]="dataPayer.phone.phone_number.national_number">
    </label>

  </div>


  <div class="form form-address">
    <label for="address_line_1">Address 1
      <input type="text" [(ngModel)]="dataAddress.address_line_1">
    </label>


    <label for="address_line_1">Address 2
      <input type="text" [(ngModel)]="dataAddress.address_line_2">
    </label>

    <label for="address_line_1">City
      <input type="text" [(ngModel)]="dataAddress.admin_area_1">
    </label>

    <label for="address_line_1">State
      <input type="text" [(ngModel)]="dataAddress.admin_area_2">
    </label>

    <label for="address_line_1">Zip Code
      <input type="text" [(ngModel)]="dataAddress.postal_code">
    </label>
  </div>
</div>
<br>
<br>


<ngx-paypal [config]="payPalConfig"></ngx-paypal>
