<div>
  <!-- <h1 class="text-center">Loja IT</h1>

  <hr />
  <br /> -->

  <div class="flex horizontal">


    <div class="flex-1" *ngFor="let product of listProducts | async">
      <div class="flex flex-center">
        <img src="/assets{{ product.img }}" class="img-main" />
      </div>
      <br />
      <h2 class="text-center">{{ product.titulo }}</h2>
      <p class="text-center">{{ product.descricao }}</p>
      <h3 class="text-center">{{ product.preco| currency }}</h3>
      <br />
      <div class="flex flex-center">
        <a class="btn-cta" [routerLink]="['/product-detail/' + product.id]"
          routerLinkActive="router-link-active">BUY </a>
      </div>
    </div>

  </div>
</div>
